@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   font-family: "Quicksand", sans-serif;
}

.container-custom {
    width: 100%;
    padding-right: 1rem/* 16px */;
    padding-left: 1rem/* 16px */;
}
@media (min-width: 640px) {
    .container-custom {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 768px) {
    .container-custom {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 1024px) {
    .container-custom {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 1280px) {
    .container-custom {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 40px;
      padding-left: 40px;
    }
}
@media (min-width: 1536px) {
    .container-custom {
        max-width: 1700px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 80px;
        padding-left: 80px;
    }
}

.anchor {
    @apply cursor-pointer hover:border-b-2 hover:border-customBlue 
}